@import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100&family=Pathway+Gothic+One&display=swap');

:root {
    --background-color: #0f0f0f;
    --input-color: #121212;
    --btn-color: #272727;
    --border-color: #303030;
    --border-color-hover: #1c61b8;
    --btn-selected-color: #f1f1f1;
    --logo-color: #ff0033;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
}

.navbar-container {
    width: 100%;
    height: 56px;
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    background: var(--background-color);
    /* border: 1px solid red; */
}

.sidebar {
    display:flex;
    flex-direction: column;
    width: 150px;
    height: calc(100vh - 40px);
    overflow-y: auto;
    position: fixed;
    top: 40px;
    background: var(--background-color);
}

.sidebar::-webkit-scrollbar {
    background: var(--background-color);
    width:10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--btn-color);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: var(--border-color);
}

.sidebar hr {
    opacity: 0.15;
    margin: 10px 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.sidebar .item-sidebar{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 13px;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    z-index: 50;
    /* border: 1px solid red; */
}

.info-sidebar {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 8px;
    gap: 10px;
    z-index: 50;
}

.sidebar .item-sidebar img,
.sidebar .info-item img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar .sidebar-list .item-sidebar a,
.sidebar .info-sidebar .info-item a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    line-height: 40px;
}

.sidebar .item-sidebar:hover {
    background: var(--btn-color);
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: calc(100% - 100px);
}

.main-menu > div {
    width: auto;
    display: flex;
    color: #fff;
}

.left-menu {
    gap: 25px;
    align-items: center;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.left-menu span {
    color: var(--logo-color);
    margin-right: 5px;
}

.left-menu a {
    color: #fff;
    text-decoration: none;
    font-family: "Pathway Gothic One", sans-serif;
}

.left-menu a::after {
    content: "CL";
    position: absolute;
    top: 15px;
    color: #9c9c9c;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.mid-menu {
    gap: 10px;
    padding: 0 16px;
}

.mid-menu .search-bar {
    font-size: 15px;
    height: 35px;
    width: 400px;
    padding: 0 4px  0 16px;
    border-radius: 20px 0 0 20px;
    border: var(--border-color) 1px solid;
    outline: none;
    background: var(--input-color);
    color: #fff;
}

.search-bar:focus {
    border: var(--border-color-hover) 1px solid;
}

.mid-menu .search-btn {
    position: absolute;
    width: 57px;
    height: 35px;
    font-size: 20px;
    outline: none;
    border: var(--border-color) 1px solid;
    border-radius: 0 20px 20px 0;
    background: var(--btn-color);
    color: #fff;
}

.search-btn:hover {
    cursor: pointer;
}

.right-menu {
    gap: 20px;
    align-items: center;
    margin-right: 20px;
    font-size: 18px;
}

.create-section {
    display: flex;
    gap: 15px;
    height: 36px;
    width: 97.17px;
    background: var(--btn-color);
    border-radius: 18px;
    line-height: 36px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 0 12px 0 12px;
}

.create-section i {
    line-height: 36px;
}

.main-tags {
    /* position: relative; */
    position: sticky;
    top: 56px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    width: calc(100% - 165px);
    padding-right: 60px;
    margin-left: 165px;
    z-index: 5;
    background: var(--background-color);
}

.category-wrapper {
    display: flex;
    gap: 10px;
    position: relative;
    left: 0;
    transition: 0.3s;
    width: max-content;
    padding: 0 30px;
}

.category {
    background: var(--btn-color);
    padding: 5px 10px;
    line-height: 20px;
    font-size: 12px;
    border-radius:  5px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
}

.category:nth-child(1){
    margin-left: 30px;
}

.scrollBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow.left {
    left: 10px;
    z-index: 10;
}

.arrow.right {
    right: 10px;
    z-index: 10;
}

/* slider btns style */
.scrollBtn {
    color: #fff;
    background: var(--background-color);
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    /* border: var(--border-color) solid; */
}

.arrow.left {
    border-radius: 20px 0 0 20px;
}

.arrow.right {
    border-radius: 0 20px 20px 0;
}


.main-content-container {
    width: calc(100% - 150px);
    margin-top: 50px;
    padding: 50px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;
    z-index: 1;
}


.video-container {
    width: auto;
    color: #fff;

    display: flex;
    flex-direction: column;

}
.video-container .thumb{
    width: 350px;
    height: 200px;
    border-radius: 15px;
}

.video-container .video-thumb::before {
    content: "22:15";
    position: absolute;
    color: #fff;
    background: var(--background-color);
    opacity: 0.8;
    /* border: 1px solid red; */
    padding: 2px 5px;
    font-size: 10px;
    width: 30px;
    height: 15px;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    margin-top: 170px;
    margin-left: 300px;
}

.video-container .video-desc {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 0;
}

.video-desc .left-desc {
    display: flex;
    gap: 10px;
}

.left-desc img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left-desc span {
    font-size: 11px;
}

.left-desc .text-desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: 400px;
}

.video-options:hover {
    background: var(--btn-color);
}